<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question 1</title>
</head>
<body>
  <!-- Question 1 -->
  <div class="container">
    <p>Note: index is starting from 0 not 1 </p>
  <form [formGroup]="seriesForm">
    <label for="">Enter the index number: </label>
    <input type="text" id="num" name="num" formControlName="num">
    <button type="button" (click)="setValue()">Go</button>
  </form>
  <p> {{num}}</p>
</div>
</body>
</html>